/* .service {
    background-image: url(../../../assets/bg/mexican-cuisine.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-blend-mode: darken;
    background-color: rgba(51, 51, 50, 0.514);
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.2); 
 }

  */